/* Gerais */

body {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'Ringbearer';
    src: url('../fonts/RINGM___.TTF');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Header */

header {
    background-image: url('../img/planoDeFundoVerde.jpeg');
    background-size: cover;
    color: #FFCC00;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
}

h1 {
    font-size: 4em;
    font-family: 'Ringbearer';
}

header menu {
    display: flex;
    font-family: 'Ringbearer';
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

header li {
    margin-right: 15px;
}

header a {
    text-decoration: none;
    color: #FFCC00;
}

header a:hover{
    color: #BF7E24;
}

header li:hover {
    scale: 1.1;
}

/* Banner */

.banner {
    width: 100%;
    height: 90vh;
    background-image: url('../img/mapaTerraMédia.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ringbearer';
    color: #FFCC00;
    font-size: 100px;
}

/* Locais */

.locais {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../img/planoDeFundoLocais.png');
    background-size: cover;
}

.locais h2 {
    margin: 30px;
    font-family: 'Ringbearer';
    font-size: 3.5em;
    color: #FFCC00;
}

.slider {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.slider button {
    margin-left: 700px;
    margin-right: 700px;
    background-color: transparent;
    border: none;
}

.slider button:hover {
    cursor: pointer;
    scale: 1.1;
}

.slider button img {
    width: 150px;
}

.setaEsquerda {
    rotate: 270deg;
}

.setaDireita {
    rotate: 90deg;
}

.slider ul {
    position: relative;
    display: flex;
}

.slider li {
    justify-content: center;
    align-items: center;
    list-style: none;
}

.imgSlider {
    position: absolute;
    left: -675px;
    bottom: -350px;
    opacity: 0;
}

.on {
    opacity: 1;
}

/* Raças */

.racas {
    width: 100%;
    height: 1200px;
    background-image: url('../img/tolkienSímbolo.jpg');
    background-size: cover;

}

.racas h2 {
    margin: 30px;
    font-family: 'Ringbearer';
    font-size: 3.5em;
    color: #FFCC00;
}

.racas div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.racas .cards img {
    width: 300px;
    margin: 50px;
}

.cards img:hover {
    scale: 1.5;
}


/* Seção personagens */

.personagens {
    width: 100%;
    height: 100vh;
    display: flex;
}

.personagens .personagem {
    height: 100vh;
    width: 384px;
}

.perso1 {
    background-image: url('../img/personagemGimli.png');
}

.perso1:hover {
    scale: 1.1;
}

.perso2 {
    background-image: url('../img/personagemAragorn.png');
}

.perso2:hover {
    scale: 1.1;
}

.perso3 {
    background-image: url('../img/personagemSauron.png');
}

.perso3:hover {
    scale: 1.1;
}

.perso4 {
    background-image: url('../img/personagemGandalf.png');
}

.perso4:hover {
    scale: 1.1;
}

.perso5 {
    background-image: url('../img/personagemGollum.png');
}

.perso5:hover {
    scale: 1.1;
}


/* Seção Sobre mim */

.sobreMim {
    width: 100%;
    height: 100vh;
    background-image: url('../img/planoDeFundoSauron.png');
}

.sobreMim h2 {
    margin: 30px;
    font-family: 'Ringbearer';
    font-size: 3.5em;
    color: #FFCC00;
}

.sobreMim .conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.sobreMim .conteudo div {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

/* Footer */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/planoDeFundoArgonath.png');
}

.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url('../img/planoDeFundoVerde.jpeg');
    height: 55px;
}

footer .inicio a{
    font-family: 'Ringbearer';
    font-size: 30px;
    color: #FFCC00;
    text-decoration: none;
}

.inicio p:hover {
    scale: 1.1;
}

.inicio a:hover {
    color: #BF7E24;
}

footer .navbar {
    width: 100%;
    margin: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.navbar a {
    color: #FFCC00;
    text-decoration: none;
}

.navbar li:hover {
    scale: 1.1;
}

.navbar a:hover {
    color: #BF7E24;
}

footer ul {
    list-style: none;
    font-size: 30px;
}

footer ul li {
    text-decoration: none;
}

footer img {
    height: 300px;
}

.footerBanner {
    text-align: center;
    color: white;
}